﻿body { padding-top: 70px; }

#loginform label {
    margin-bottom: 0px !important;
}

.spacer-bottom{
    margin-bottom: 5px;
}

.field-validation-error{
    color: darkred;
}
.input-validation-error{
    border-color: #D88989 !important;
    background-color: #FFE4E8 !important;
}

.bg-redbull {
    background-image: url('../Content/static/img/splash-bg.jpg');
}

.bg-fotos {
    background-image: url('../Content/static/img/fotos-bg.jpg');
}

.bg-welcome {
    background-image: url('../Content/static/img/welcome-bg.jpg');
}

footer {
    color: white;
}

.hover-content {
    -ms-opacity: 0.9;
    opacity: 0.9; 
    background-color: white; 
    padding: 20px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}