﻿@model F1Tippspiel.Web.Models.Account.RegisterUser

@{
    ViewBag.Title = "F1 Tippspiel Registrierung";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@section bodyClass
 {
    bg-fotos
}

<div class="row">
    <div class="col-md-4 hover-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Regisrierung</h1>
                <p>Bitte füllen sie alle folgenden Felder aus</p>
                @using (Html.BeginForm("register", "account"))
                {
                    @Html.AntiForgeryToken()
                    <h3>@Html.LabelFor(m => m.Displayname)</h3>
                    <h6>Unter diesem Namen sind Sie für die anderen Spieler sichtbar</h6>
                    @Html.ValidationMessageFor(m => m.Displayname)
                    @Html.TextBoxFor(m => m.Displayname, new { @class = "form-control", placeholder = "Axel Schweis" })

                    <h3>@Html.LabelFor(m => m.Email)</h3>
                    <h6>Kontaktmöglichkeit für Benachrichtigungen</h6>
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "donald@duck.dich", type = "email" })

                    <h3>@Html.LabelFor(m => m.Password)</h3>
                    <h6>Passwort für das Login</h6>
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Passwort" })

                    <h3>@Html.LabelFor(m => m.Password2)</h3>
                    <h6>Wiederholen Sie Ihr Passwort</h6>
                    @Html.ValidationMessageFor(m => m.Password2)
                    @Html.PasswordFor(m => m.Password2, new { @class = "form-control", placeholder = "Passwort wiederholen" })<br />
                    <input type="submit" value="Registrieren" class="btn btn-primary" />
                    @Html.ActionLink("Zurück", "index", "home", null, new { @class = "btn btn-default" })
                }
            </div>
        </div>
    </div>
</div>