﻿<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">F1 Tippspiel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="row message-display">
    <div class="col-md-4">
        <img src="~/Content/static/img/f1_logo.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Neu hier?</h2>
        <p>Willst du bei dem Tippspiel mitmachen? Die Registierung dauert nur einen kleinen Moment!</p>
        <p><a class="btn btn-default" href="#" role="button"><i class="fa fa-user"></i> Neu Registrieren</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <input type="text" class="form-control" name="username" placeholder="E-Mail Adresse" /><br />
        <input type="text" class="form-control" name="password" placeholder="Passwort" /><br />
        <button type="submit" class="btn btn-info"><i class="fa fa-sign-in"></i> Login</button>
    </div>
</div>

<hr>

<footer>
    <p>&copy; bigbasti.com @DateTime.Now.Year</p>
</footer>
